@model SchoolDatabase.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink btn btn-secondary" href="@Url.Action("List", "Teacher")">Back To Teacher List</a>

<div id="container-show" class="bg-light rounded p-3">
    <h2 class="text-dark">@Model.TeacherFname @Model.TeacherLname</h2>
</div>

<h3>@Model.TeacherFname @Model.TeacherLname</h3>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Hire Date: @Model.HireDate.ToString()</p>
<p>Salary: @Model.Salary.ToString()</p>

<a class="btn btn-primary" href="@Url.Action("Update", "Teacher", new { id = @Model.TeacherId })">Edit</a>
<a class="btn btn-secondary" href="@Url.Action("List", "Teacher")">Back to List</a>  
